extends ../layout 

block content 
  a(href='/users') volver 

  br
  br
  br

  h1 Actualizando Usuario 

  br
  br

  form(action=`/users/${user.id}/update` method='post')
    .form-group 
        label(for='name') Nombre:
        input#name.form-control(type='text' name='name' value= user.name class= errors.name)
        if errors.name 
            small#nameHelp.text-danger 
                = errors.name.message 


    br
    br
    input.btn.btn-primary(type='submit' value='ok')